/* RESET E NORMALIZZAZIONE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: /** inserire **/;
}

h1, h2, h3, h4, h5, h6 {
    /** mettere **/
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* CLASSI GENERALI */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right {
    float: right;
}

.button {
    /** inserire caratteristiche bottone **/
}
